- provide(:title, 'About')

%h1= 'О сайте'

.about-copy
  %h1
    Приложение j-experteese предназначено для сбора оценок предпочтений пользователей.
    Пользователи выступают в роли экспертов. Их мнение крайне важно для экспертного сообщества.
    На основе частных мнений экспертов вычисляется средняя квалифицированная оценка.
    Собранные в данном приложении данные представляют интерес как для самих экспертов,
    так и для сторонних организаций и пользователей, занятых, например, в сфере маркетинга и изучения рынков.