- provide(:title, "Help")

%h1
- if signed_in?
  %h1
    Уважаемый пользователь #{@current_user.name.inspect}!
    Всегда рады помочь!

.about-copy
  %h1.list
    Пользовательский интерфейс j-experteese построен по принципу "одностраничного приложения".
    %br
    Это существенно упрощает взаимодействие пользователей с приложением.
  %br
  %h1
    Основные шаги.
  %h3
    1. Регистрация нового пользователя. Это необходимо для получения доступа к сервису.
    %br
    2. Если пользователь зарегистрирован, то ему необходимо войти на сайт - sign in.
    %br
    3. Прежде всего нужно выбрать тему, по котрой эксперт намерен оставить свои оценки. Выбрав тему из списка, пользователь получает доступ к списку изображений.
    %br
    4. Пользователь оценивает предъявляемые на экране изображения, выбирая желаемое значение на шкале оценок.
    %br
    5. На экране отображается усредненная оценка всех экспертов, участвовавших в опросе по данному изображению на выбранную тему.. А также общее количество всех оценок на сайте.
    %br
    6. Имеется возможность просмотра итоговых оценок по всем изображениям на выбранную тему.