- content_for(:title, "Index")

.center.jumbotron
  %h1
    Welcome to j-experteese
  %h2
    RoR practice.

  - if signed_in?
    = link_to t('.to_work'), work_path, class: "btn btn-lg btn-primary"
  -else
    = link_to t('.to_sign_up'), signup_path, class: "btn btn-lg btn-primary"