- content_for(:title, "Index")

.center.jumbotron
  %h1
    Welcome to j-experteese
  %h2
    RoR practice.

  - if signed_in?
    = link_to "Proceed to work!", work_path, class: "btn btn-lg btn-primary"
  -else
    = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"