<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div className="container">
    <div className="card">
        <div className="front">
            <img className="img" src="../images/pictures/j1.png" alt=""/>
        <h2> madven </h2>
        </div>
        <div className="back">
            <img className="img" src="../images/pictures/j1.png" alt=""/>
            <h2> test </h2>
            <b> kek </b>
        </div>
    </div>
</div>
</body>
</html>