.show_user
  .row
    %aside.span4
      %section
        %h1
          = gravatar_for @user
          = @user.name
%p
  %b = email
  = @user.email

  =link_to "work", work_path, class: "btn btn-lg btn-primary"