.card{
    width: 100px;
    height: 110px;
    position: relative;
    background-color: transparent;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
    cursor: pointer;
}
.front, .back{
    height: 100%;
    width: 100%;
    background: #fff;
    padding-top: 20px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    display: table-row;
    justify-content: center;
}
.front{
    background: rgb(180, 58, 170);
    background: linear-gradient(90deg,
    rgba(180, 58, 170, 1) 0%,
    rgba(200, 29, 253, 1) 35%,
    rgba(252, 176, 69, 1) 100%);
}
.img{
    width: 50px;
    height: 50px;
}
.back{
    transform: rotateY(180deg);
    background: #1dc9b5;
}